#main-container{min-height:100%;position:relative;}
#navbar-container{padding:0.02px;}
#page-container{padding-bottom:110px;}
#footer-container{position:absolute;bottom:0;width:100%;}
.icon-with-text{margin-right:10;}
.fork-bar {position:fixed;z-index:999;width:150px;text-align:center;transform:translate3d(-110px,15px,0)rotate(45deg);}
.plugin-page-card a{text-decoration: none;}