#main-container{min-height:100%;position:relative;}
#navbar-container{/*padding-bottom:80px;*/}
#page-container{padding-bottom:125px;}
#footer-container{position:absolute;bottom:0;width:100%;}
.icon-with-text{margin-right:10;}
.fork-bar {position:fixed;z-index:999;width:150px;text-align:center;transform:translate3d(-110px,15px,0)rotate(45deg);}
.plugin-page-card a{text-decoration:none;}
.index-icon{font-size:120px!important;}
.highlighter-rouge .highlight{overflow: auto;}
code {border:1px solid #bbb;font:14px/1.8em Menlo,Consolas,"Courier New",Courier,"Liberation Mono",monospace;background-color:#f8f8f8;border-radius:5px;max-width:100%;display:inline-block;overflow:auto;vertical-align:middle;padding:0 0.5em;white-space:pre;}
img {max-width: 100%;max-height:100%;}
p {margin:1em 0 1em 0;margin-top:1em;margin-bottom:1em;}
a {text-decoration: none;}

.jumbotron{text-align:center;margin-bottom:0px;}
.jumbotron h1{font-size:48px;}
.jumbotron h4{font-size:18px;}
.jumbotron p{font-size:14px;}
.vcenter{display:inline-block;vertical-align:middle;float:none;}