#main-container{min-height:100%;position:relative;}
#navbar-container{padding:0.02px;}
#page-container{padding-bottom:60px;}
#footer-container{position:absolute;bottom:0;width:100%;}
.icon-with-text{margin-right:10;}