---
layout: null
---
<html><head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" itemprop="description" content="B站弹幕姬，一款开源简洁的B站直播弹幕工具">
<meta name="keywords" content="B站弹幕姬,哔哩哔哩直播,弹幕姬,弹幕姬插件">
{% include theme-color.html %}
<link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans|Menlo">
<link rel="stylesheet" href="//cdn.bootcss.com/font-awesome/4.6.3/css/font-awesome.min.css">
<link rel="stylesheet" href="/css/w3.css">
<link rel="stylesheet" href="/css/theme.css">
<link rel="stylesheet" href="/css/css.css">
<link rel="stylesheet" href="/css/notie.css">
<link rel="stylesheet" href="/css/highlight.css">
<style>html,body,h1,h2,h3,h4,h5 {font-family: "Open Sans", sans-serif}.jumbotron a{text-decoration: none;}</style>
<script type="text/javascript" async defer src="//stats.cdn.lwl12.com/piwik.js"></script>
<script type="text/javascript" async defer src="//s4.cnzz.com/z_stat.php?id={{ site.cnzz }}&web_id={{ site.cnzz }}"></script>
<script>
	var _czc = _czc || []; _czc.push(["_setAccount", "{{ site.cnzz }}"]);
	var _paq = _paq || []; _paq.push(['setSiteId', '2']);
	_paq.push(['trackPageView']); _paq.push(['enableLinkTracking']);
	_paq.push(['setTrackerUrl', '//stats.lwl12.com/piwik.php']); 
</script>
<title>B站弹幕姬 - 开源、简洁的B站直播弹幕工具</title>
</head>
<body>
<div id="main-container">
<!-- Navbar - Start -->
{% include navbar.html %}
<!-- Navbar - End -->
<!-- Content - Start -->
<div class="w3-content" id="page-container" style="max-width: 100%;">
<!--首页从www.snipaste.com的首页修改而来，偷个懒（-->
    <div class="jumbotron w3-theme-d4">
        <div class="container">
            <div class="row">
                <div class="col-md-3 vcenter">
                    <h1>B站弹幕姬</h1>
                    <div class="lead">
                        <h4>开源、简洁的B站直播弹幕工具</h4>
                    </div>
                    <br>
                    <div id="download-buttons">
                        <p class="text-center">最新版本：1.0.1.123 (2017.2.21)</p>
                        <h4>Windows 7 / 8 / 10</h4>
                        <a class="btn btn-default btn-block" rel="nofollow" href="https://soft.ceve-market.org/bilibili_dm/setup.exe" onclick="ga('send', 'event', '首页', '下载弹幕姬');_czc.push(['_trackEvent','首页','下载弹幕姬']);_paq.push(['trackEvent', '首页', '下载弹幕姬']);" target="_blank" role="button"><i class="fa fa-download icon-with-text"></i>下载安装包</a>
						<br>
						<h4>有使用问题？</h4>
						<a class="btn btn-default btn-block" href="http://f.danmuji.cn/topic/8" target="_blank" role="button">访问弹幕姬讨论区</a>
                    </div>
                    <br>
                </div><div class="col-md-9 vcenter">
                    <img class="img-responsive" src="/pics/1.png">
                </div>
            </div>
        </div>
    </div>
    <div style="padding-top: 25px;padding-bottom: 30px;">
        <div id="intro-container" class="container">
            <h2 style="text-align: center;"></h2>
            <div class="row">
                <div class="col-sm-8">
                    <img class="img-responsive" src="/pics/2.png">
                </div>
                <div class="col-sm-4">
                    <h3>流畅的弹幕动画</h3>
                   <ul>
                       <li>侧边栏弹幕渐入渐出，不再看错行</li>
                       <li>高效流畅的桌面弹幕（仅Win8及以上系统）</li>
                       <li>可设置的动画时间</li>
                   </ul>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-4">
                    <h3>稳定的弹幕处理</h3>
                    <ul>
                        <li>多次优化弹幕处理逻辑</li>
                        <li>再多的弹幕也保证一个不丢<sup id="cite_ref-1" class="reference"><a href="#cite_note-1">[1]</a></sup></li>
                        <li>较低的CPU占用</li>
                        <li>被断开连接自动重连</li>
                        <li>原官方钦定弹幕工具<sup id="cite_ref-2" class="reference"><a href="#cite_note-2">[2]</a></sup></li>
                    </ul>
                </div>

                <div class="col-sm-8">
                    <img class="img-responsive" src="/pics/3.png">
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-8">
                    <img class="img-responsive" src="/pics/4.png">
                </div>
                <div class="col-sm-4">
                    <h3>其他拓展功能</h3>
                    <ul>
                        <li>统计弹幕总数、参与互动人数</li>
                        <li>保存日志到文件</li>
                        <li>礼物投喂统计</li>
                        <li>插件系统<sup id="cite_ref-3" class="reference"><a href="#cite_note-3">[3]</a></sup></li>
                    </ul>
                    <br>
                </div>
            </div>
        </div>
        <br><hr>
        <section style="font-size:0.8em;">
            <div class="container">
                <div id="cite_note-1">[1]:
                    <span><b><a href="#cite_ref-1">^</a></b></span>
                    <span>不包含因为弹幕包含关键词被服务器过滤的弹幕。</span>
                </div>
                <div id="cite_note-2">[2]:
                    <span><b><a href="#cite_ref-2">^</a></b></span>
                    <span>直播姬开发之前，弹幕姬是作为半官方工具在直播首页提供下载的。现在依旧可以在直播姬下载页见到“弹幕姬”的踪影。</span>
                </div>
                <div id="cite_note-3">[3]:
                    <span><b><a href="#cite_ref-3">^</a></b></span>
                    <span>弹幕姬插件开发SDK<a rel="nofollow" target="_blank" href="https://soft.ceve-market.org/bilibili_dm/sdk.7z"> [下载] </a>（.NET4，最后更新：2017.2.21）</span>
                </div>
            </div>
        </section>
    </div>
<br><br></div>
<!-- Content - End -->
<!-- Footer - Start -->
{% include footer.html %}
<!-- Footer - End -->
</div></body></html>