<div id="footer-container">
    <footer class="w3-container w3-theme-d3 w3-padding-16">
        <h5>弹幕姬讨论群：
            <!-- <a target="_blank" rel="nofollow" href="https://jq.qq.com/?_wv=1027&k=47BX3LC">627565437</a> | -->
            <a target="_blank" rel="nofollow" href="https://jq.qq.com/?_wv=1027&k=40iYCqV">95349372</a> |
            <a target="_blank" rel="nofollow" href="https://jq.qq.com/?_wv=1027&k=40iVN8M">423768065</a> |
            <a target="_blank" rel="nofollow" href="https://jq.qq.com/?_wv=1027&k=40iYChK">549858724</a>
        </h5>
    </footer>
    <footer class="w3-container w3-theme-d5">
        <p>非B站出品 | B站弹幕姬 © 2014 - 2018 CopyLiu |
            <a target="_blank" href="https://github.com/copyliu/bililive_dm/">弹幕姬 GitHub 仓库</a> |
            <a target="_blank" href="https://github.com/Bililive/www.danmuji.org/">网站 GitHub 仓库</a>
        </p>
    </footer>
    <div class="w3-hide">
        <script>
            (function () {
                if (window.attachEvent) {
                    window.attachEvent('onload', loadComplete);
                } else {
                    window.onload = loadComplete;
                }
            })();

            function loadComplete() {}

            var setCookie = function (name, value, days) {
                var expires;
                if (days) {
                    var date = new Date();
                    date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
                    expires = "; expires=" + date.toGMTString();
                } else {
                    expires = "";
                }
                document.cookie = name + "=" + value + expires + "; path=/";
            }
            var getCookie = function (c_name) {
                if (document.cookie.length > 0) {
                    c_start = document.cookie.indexOf(c_name + "=");
                    if (c_start != -1) {
                        c_start = c_start + c_name.length + 1;
                        c_end = document.cookie.indexOf(";", c_start);
                        if (c_end == -1) {
                            c_end = document.cookie.length;
                        }
                        return unescape(document.cookie.substring(c_start, c_end));
                    }
                }
                return null;
            }
        </script>
    </div>
</div>