<div id="footer-container">
	<footer class="w3-container w3-theme-d3 w3-padding-16">
		<h5>弹幕姬讨论群：<a target="_blank" rel="nofollow" href="http://jq.qq.com/?_wv=1027&k=40iYChK">549858724</a> | <a target="_blank" rel="nofollow" href="http://jq.qq.com/?_wv=1027&k=40iVN8M">423768065</a> | <a target="_blank" rel="nofollow" href="http://jq.qq.com/?_wv=1027&k=40iYCqV">95349372</a></h5>
	</footer>
	<footer class="w3-container w3-theme-d5">
        <p>非B站出品 | B站弹幕姬 ©2014-2016 CopyLiu | <a target="_blank" href="https://github.com/copyliu/bililive_dm/">弹幕姬Github仓库</a></p>
        <div class="w3-hide"><script src="https://s4.cnzz.com/z_stat.php?id={{ site.cnzz }}&web_id={{ site.cnzz }}" language="JavaScript"></script></div>
	</footer>
</div>