<div id="footer-container">
	<footer class="w3-container w3-theme-d3 w3-padding-16">
		<h5>弹幕姬讨论群：
			<a target="_blank" rel="nofollow" href="https://jq.qq.com/?_wv=1027&k=47BX3LC">627565437</a> | 
			<a target="_blank" rel="nofollow" href="https://jq.qq.com/?_wv=1027&k=40iYCqV">95349372</a> | 
			<a target="_blank" rel="nofollow" href="https://jq.qq.com/?_wv=1027&k=40iVN8M">423768065</a> | 
			<a target="_blank" rel="nofollow" href="https://jq.qq.com/?_wv=1027&k=40iYChK">549858724</a>
		</h5>
	</footer>
	<footer class="w3-container w3-theme-d5">
        <p>非B站出品 | B站弹幕姬 ©2014-2017 CopyLiu | <a target="_blank" href="https://github.com/copyliu/bililive_dm/">弹幕姬Github仓库</a></p>
    </footer>
    <div class="w3-hide">
        <script src="/css/notie.js"></script>
		<script>
			(function(){
				if(window.attachEvent)
					{window.attachEvent('onload', loadComplete);}
				else
					{window.onload = loadComplete;}
			})();
			function loadComplete(){
				notie.alert(3,'2017.4.12 网站维护调整中，可能会出现访问不稳定的情况',3);
				if(false && window.location.hostname !== "www.danmuji.cn")
				{notie.alert(4,'网站已搬迁到主域名 www.danmuji.cn ，本地址将于11月17日关闭',5);}
			}
		</script>
    </div>
</div>