<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
{% include theme-color.html %}
<!--<meta na=me="description" cont=ent="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">-->
<!--<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">-->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans|Menlo">
<link rel="stylesheet" href="//cdn.bootcss.com/font-awesome/4.6.3/css/font-awesome.min.css">
<link rel="stylesheet" href="/css/w3.css">
<link rel="stylesheet" href="/css/theme.css">
<link rel="stylesheet" href="/css/css.css">
<link rel="stylesheet" href="/css/notie.css">
<link rel="stylesheet" href="/css/highlight.css">
<style>html,body,h1,h2,h3,h4,h5 {font-family: "Open Sans", sans-serif}</style>
<script type="text/javascript" async src='https://www.google-analytics.com/analytics.js'></script>
<script type="text/javascript" async defer src="//stats.cdn.lwl12.com/piwik.js"></script>
<script type="text/javascript" async defer src="//s4.cnzz.com/z_stat.php?id={{ site.cnzz }}&web_id={{ site.cnzz }}"></script>
<script>
    window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
    ga('create', 'UA-71912418-2', 'auto');
    ga('send', 'pageview');
	// 过渡CNZZ到Google Analytics
	
	var _czc = _czc || []; _czc.push(["_setAccount", "{{ site.cnzz }}"]);
	var _paq = _paq || []; _paq.push(['setSiteId', '2']);
	_paq.push(['trackPageView']); _paq.push(['enableLinkTracking']);
	_paq.push(['setTrackerUrl', '//stats.lwl12.com/piwik.php']); 
</script>