<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
{% include theme-color.html %}
<!--<meta na=me="description" cont=ent="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">-->
<!--<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">-->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans|Menlo">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.6.9/sweetalert2.min.css">
<link rel="stylesheet" href="//cdn.bootcss.com/font-awesome/4.6.3/css/font-awesome.min.css">
<link rel="stylesheet" href="/css/w3.css">
<link rel="stylesheet" href="/css/theme.css">
<link rel="stylesheet" href="/css/css.css">
<link rel="stylesheet" href="/css/highlight.css">
<style>body,h1,h2,h3,h4,h5,html{font-family:"Open Sans",sans-serif}</style>
<script type="text/javascript" async src='https://www.google-analytics.com/analytics.js'></script>
<script type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/core-js/2.4.1/core.js"></script>
<script type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.6.9/sweetalert2.min.js"></script>
<script>window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)},ga.l=+new Date,ga("create","UA-71912418-2","auto"),ga("send","pageview");var _czc=_czc||[],_paq=_paq||[];</script>